<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dialog</title>

<link rel="stylesheet" title="Standard" href="../css/main.css" type="text/css" media="screen" />
<link href="../favicon.ico" rel="shortcut icon">

<!--[if IE 6]>
<script type="text/javascript" src="../js/DD_belatedPNG_0.0.8a-min.js" ></script>
<script type="text/javascript">
//DD_belatedPNG.fix('button,img,div,input,a,a:hover, img.icon');
</script>
<![endif]-->


</head>

<body class="dialog_content">

<div class="panel_1 con_input">
	<div class="title none"><span>标题文字</span></div>
	<div class="content">
		<div class="col_full">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<colgroup>
					<col style="width:90px;" />
					<col style="" />
					<col style="" />
				</colgroup>
				<tr>
					<td>分类名称：</td>
					<td><input name="textfield" type="text" class="input3 ~auto_width" id="textfield" /></td>
					<td></td>
				</tr>
				<tr>
					<td class="align_top">描述：</td>
					<td><textarea class="auto_width" name="" cols="" rows="4"></textarea></td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
		
		<div class="col_right">
			<!-- // 右边内容 -->
		</div>
		
		<div class="button_area_search">
			<div class="inner_box">
				<a class="btn2" onclick="parent.$.fancybox.close();" href="javascript:;">保存</a>
				<a class="btn2" onclick="parent.$.fancybox.close();" href="javascript:;">取消</a>
			</div>
		</div>
	  
	</div>
</div>

</body>
</html>
